# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

# framework related stuff..
.htaccess
config.py
framework/tmp/*
framework/analyses/*
framework/errors/*
framework/blastdb/*
framework/trash/*

#nonsense
*.DS_Store
*~

#emacs temp files
\#*
.#*

#R command history
.Rhistoryplaydata/*
